
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container {
    width: 50%;
    display: flex;
    border: 1px solid #ddd;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }